@model IEnumerable<H.Models.Product>
@{
    ViewBag.Title = "ProductEdit";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Edit Perfume Product</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                @using (Html.BeginForm("ProductAdd", "Management", FormMethod.Post))
                {
                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label"></label>
                        <input type="text" required name="name" placeholder="Product name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label"></label>
                        <input type="text" required name="description" placeholder="Product description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="imageLink" class="control-label"></label>
                        <input type="text" required name="imageLink" placeholder="Image link" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="imageLink" class="control-label"></label>
                        <input type="text" required name="price" placeholder="Product price" class="form-control" />
                    </div>
                    <div class="form-group hidden">
                        <label for="userID" class="control-label"></label>
                        <input type="text" readonly name="userID" value="@Session["userID"].ToString()" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="categoryID" class="control-label"></label>
                        @Html.DropDownList("categoryName", null, "Select Category")
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add category" class="btn btn-outline-success float-right" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


